/* Page-specific styling */

.content-tab {
    display: inline-block;
    cursor: pointer;
    max-width: 100px;
    padding: 5px 10px;
    font-size: medium;
    border: solid 1px inherit;
}

.content-tab.selected {
    font-weight: bold;
    background-color: #eeeeee;
}

#content-main input#back {
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
    margin: 0;
    position: absolute;
    top: 95%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#player {
    width: 100%;
    height: 90%;
}